.idea
.DS_Store
bin
build-debug
cmake-build-debug
cmake-build-release
/models/Truck4-Yellow.dae
/shader/simple.frag
/shader/simple.vert
/models/truck.dae
/ref
/ref/temp.cpp
/lib/
/build-debug/CMakeFiles/SVMRender.out.dir/build.make
/build-debug/.cmake/api/v1/query/cache-v2
/build-debug/.cmake/api/v1/reply/cache-v2-1ce1ea24110ebaa1212a.json
/build-debug/CMakeFiles/clion-environment.txt
/build-debug/CMakeFiles/clion-log.txt
/build-debug/CMakeFiles/cmake.check_cache
/build-debug/CMakeFiles/SVMRender.out.dir/cmake_clean.cmake
/build-debug/cmake_install.cmake
/build-debug/CMakeCache.txt
/build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.o
/build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.o
/build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/build-debug/CMakeFiles/CMakeError.log
/build-debug/.cmake/api/v1/query/cmakeFiles-v1
/build-debug/.cmake/api/v1/reply/cmakeFiles-v1-620b47fbf2b52bbed1da.json
/build-debug/CMakeFiles/CMakeOutput.log
/build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/build-debug/.cmake/api/v1/query/codemodel-v2
/build-debug/.cmake/api/v1/reply/codemodel-v2-bb0074fe9bee9804c62c.json
/build-debug/CMakeFiles/SVMRender.out.dir/compiler_depend.make
/build-debug/CMakeFiles/SVMRender.out.dir/compiler_depend.ts
/build-debug/CMakeFiles/SVMRender.out.dir/depend.make
/build-debug/CMakeFiles/SVMRender.out.dir/DependInfo.cmake
/build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/build-debug/CMakeFiles/SVMRender.out.dir/flags.make
/sources/common/glad.c
/build-debug/CMakeFiles/SVMRender.out.dir/common/src/glad/glad.c.o
/build-debug/CMakeFiles/SVMRender.out.dir/common/src/glad/glad.c.o.d
/sources/common/glad.h
/build-debug/.cmake/api/v1/reply/index-2022-09-06T13-55-01-0678.json
/sources/common/khrplatform.h
/build-debug/Testing/Temporary/LastTest.log
/build-debug/CMakeFiles/SVMRender.out.dir/link.txt
/build-debug/Makefile
/build-debug/CMakeFiles/Makefile.cmake
/build-debug/CMakeFiles/Makefile2
/build-debug/CMakeFiles/SVMRender.out.dir/progress.make
/build-debug/CMakeFiles/progress.marks
/build-debug/CMakeFiles/SVMRender.out.dir/src/svmBowlMesh.cpp.o
/build-debug/CMakeFiles/SVMRender.out.dir/src/svmBowlMesh.cpp.o.d
/build-debug/CMakeFiles/SVMRender.out.dir/common/src/svmBuffer.cpp.o
/build-debug/CMakeFiles/SVMRender.out.dir/common/src/svmBuffer.cpp.o.d
/build-debug/CMakeFiles/SVMRender.out.dir/common/src/svmCommon.cpp.o
/build-debug/CMakeFiles/SVMRender.out.dir/common/src/svmCommon.cpp.o.d
/build-debug/CMakeFiles/SVMRender.out.dir/src/svmContext.cpp.o
/build-debug/CMakeFiles/SVMRender.out.dir/src/svmContext.cpp.o.d
/build-debug/CMakeFiles/SVMRender.out.dir/src/svmMain.cpp.o
/build-debug/CMakeFiles/SVMRender.out.dir/src/svmMain.cpp.o.d
/build-debug/CMakeFiles/SVMRender.out.dir/common/src/svmMesh.cpp.o
/build-debug/CMakeFiles/SVMRender.out.dir/common/src/svmMesh.cpp.o.d
/build-debug/CMakeFiles/SVMRender.out.dir/common/src/svmModel.cpp.o
/build-debug/CMakeFiles/SVMRender.out.dir/common/src/svmModel.cpp.o.d
/build-debug/CMakeFiles/SVMRender.out.dir/common/src/svmProgram.cpp.o
/build-debug/CMakeFiles/SVMRender.out.dir/common/src/svmProgram.cpp.o.d
/build-debug/CMakeFiles/SVMRender.out.dir/common/src/svmShader.cpp.o
/build-debug/CMakeFiles/SVMRender.out.dir/common/src/svmShader.cpp.o.d
/build-debug/CMakeFiles/SVMRender.out.dir/src/svmVCam.cpp.o
/build-debug/CMakeFiles/SVMRender.out.dir/src/svmVCam.cpp.o.d
/build-debug/CMakeFiles/SVMRender.out.dir/common/src/svmVertexLayout.cpp.o
/build-debug/CMakeFiles/SVMRender.out.dir/common/src/svmVertexLayout.cpp.o.d
/build-debug/CMakeFiles/SVMRender.out.dir/src/svmView.cpp.o
/build-debug/CMakeFiles/SVMRender.out.dir/src/svmView.cpp.o.d
/build-debug/.cmake/api/v1/reply/target-SVMRender.out-Debug-d7c20471bdcf958c8520.json
/build-debug/CMakeFiles/TargetDirectories.txt
/build-debug/.cmake/api/v1/query/toolchains-v1
/build-debug/.cmake/api/v1/reply/toolchains-v1-2ebdd397a9b9a925bf87.json
/medias/rev_1.mov
/medias/rev_2.mov
/medias/rev_3.mov
/medias/rev_4.mov
/medias/test.py
/medias/CMakeLists.txt
